<html>
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>
            EzzyBuy
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="shortcut icon" href="/images/logo.jpg" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
        <script>
            let suc = '<%=flash.success%>';
            let err = '<%=flash.error%>';
            if(suc && suc.length > 0){
                new Noty({
                    theme: 'relax',
                    text: suc,
                    timeout: 1500,
                    type: 'success',
                    layout: 'topRight',
                }).show();
            }
            if(err && err.length > 0){
                new Noty({
                    theme: 'relax',
                    text: err,
                    timeout: 1500,
                    type: 'error',
                    layout: 'topRight'
                }).show();
            }
        </script>
        <script src="https://kit.fontawesome.com/433888fe69.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>